<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="navbar-brand rounded-circle" src='../../../assets/images/pngegg (1).png' [width]="40" />

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="admin-dashboard">Home</a>
        <li class="nav-item">
          <a class="nav-link" (click)="g.addBooks()">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="g.ShowBook()">Show Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="g.deleteBooks()">Remove Book</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">


          <li class="nav-item">
            <a class="nav-link text-decoration-none" routerLink="/register">Register user</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="g.home()">Log Out</a>
          </li>
        </ul>

      </form>
    </div>
  </div>
</nav>