<app-navbar></app-navbar>
<section class="bg">
  <div *ngIf="addBook">
    <form #i="ngForm" >
    <input type="text" ngModel name="name" placeholder="name">
    <input type="text" ngModel name="author" placeholder="author">
    <input type="text" ngModel name="price" placeholder="price">
    <input type="text" ng model name="count" placeholder="count">
    <input type="text" ngModel name="image" placeholder="image">
    <input type="text" ngModel name="id" placeholder="id">
  </form>
    <button (click)="add(i.value)" class="btn btn-success">add</button>
  </div>

  <div class="d-flex justify-content-center p-2">
    <button class="btn btn-lg btn-outline-secondary mrgn" (click)="search()">Search Book</button>

  </div>
  <div class="grid-contaner">
  <div *ngIf="SearchBook" class="d-flex justify-content-center txt ">
    <app-search-book></app-search-book>
  </div>
  </div>
  <div>
    <div class="row mt-4">
      <div class="col-sm-4 mal">
        <h3 class="text-secondary">Filter details</h3>
        <hr>

        <div class="mt-2 mb-4">
          <button class="btn btn-md btn-outline-secondary m-2" (click)="priceChange()">on price</button>
          <div class="mt-2" *ngIf="price">
            <input #i type="input">
            <button class="btn btn-secondary" (click)="pricee(i.value)">submit</button>
          </div>
        </div>
        <div class="">
          <button class="btn btn-md btn-outline-secondary m-2" (click)="authors()">Filter by author</button>
          <div class="mt-2" *ngIf="author">
            <input #ii type="input">
            <button class="btn btn-md  btn-secondary" (click)="authorFil(ii.value)">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-sm-7 d-flex flex-row ">
        <div *ngIf="ShowBookList" class="grid-container">
          <div *ngFor="let book of books">
            <div class="row">
              <div class="col-sm-6 ">
                <img src="{{book.image}}" alt="" width="100px" height="150px" class=" shadow-lg mb-5 bg-white rounded">
              </div>

              <div class="col-sm-6 mrgn ">
                <!-- <p class="">{{book.id}}</p> -->
                <p>Name: {{book.name}}</p>
                <p>Author: {{book.author}}</p>
                <p>Price: {{book.price}}</p>
              </div>
            </div>
            <button class="btn btn-sm btn-outline-danger" type="button" title="delete book" (click)="delete(book)"
              *ngIf="deleteBook">x</button>
          </div>
        </div>



        <div *ngIf="showfil" class="grid-container">
          <div *ngFor="let book of fil" >
            <div class="row" >
              <div class="col-sm-12 ">
                <img src="{{book.image}}" alt="" width="100px" height="120px" class=" shadow-lg mb-5 bg-white rounded">
              </div>

              <div class="col-sm-6 mrgn ">
                <!-- <p class="">{{book.id}}</p> -->
                <p>Name: {{book.name}}</p>
                <p>Author: {{book.author}}</p>
                <p>Price: {{book.price}}</p>

              </div>
            </div>
            <button class="btn btn-sm btn-danger" type="button" title="delete book" (click)="delete(book)"
              *ngIf="deleteBook">x</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>