
<h1>register</h1>
<h2>user</h2>
<form [formGroup]="login" (ngSubmit)="userPost()">
  <label >user name</label>
  <input  type="email" name="email" formControlName="email" [(ngModel)]="em" >
  
  <label >password</label>
  <input type="password" name="pass" formControlName="pass" [(ngModel)]="pa">
  <button type="submit" >login</button>
</form>



<h2>Admin</h2>
<form [formGroup]="login" (ngSubmit)="adminPost()">
  <label >user name</label>
  <input type="email" name="user" formControlName="email" [(ngModel)]="em1">
  <label >password</label>
  <input type="password" name="pass" formControlName="pass" [(ngModel)]="pa1">
  <button>login</button>
</form>
<br><br><br>
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>