<div class="row">
    <div class="col-sm-6">col1</div>
    <div class="col-sm-4">col2</div>
    <div class="col-sm-2">col3</div>
</div>

<div class="row">
    <div class="col-sm-6">col1</div>
    <!-- <div class="col-sm-4">col2</div> -->
    <div class="col-sm-2">col3</div>
</div>
<div>
    <h1>hi <code>raj</code></h1>
</div>



<!-- tables -->
<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>first name</th>
                <th>second name</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>vinodh</td>
                <td>raj</td>
                <td>vinu@gmail.com</td>
            </tr>
            <tr>
                <td>hi</td>
                <td>raj</td>
                <td>raj@gmail.com</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- drop down -->
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Drop down <span
            class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="">hi</a> </li>
        <li><a href="">hello</a> </li>
        <li><a href="">hell</a> </li>
    </ul>
</div>

<!-- colapse -->

<a href="#demo" class="btn btn-info" data-toggle="collapse">colapse</a>
<div id="demo" class="collapse">klhjghifugdfsdtra</div>



<!-- tabs -->


<ul class="nav nav-tabs">
    <li><a href="#menu1">1</a></li>
    <li><a href="#menu2">2</a></li>
    <li><a href="#menu3">3</a></li>
    <li><a href="#menu4">4</a></li>
</ul>


<div class="container">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#menu1">1</a></li>
        <li><a data-toggle="tab" href="#menu2">2</a></li>
        <li><a data-toggle="tab" href="#menu3">3</a></li>
        <li><a data-toggle="tab" href="#menu4">4</a></li>
    </ul>



    <div class="tab-content">
        <div id="menu1" class="tab-pane fade">
            <h3>HOME</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam.</p>
        </div>
        <div id="menu4" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>



<!-- radio buttons -->

<div class="radio">
    <label ><input type="radio" name="optradio">1</label>
    <label ><input type="radio" name="optradio">1</label>
    <label ><input type="radio" name="optradio">1</label>

</div>


<!-- multiple inputs -->
<label for="sel1">multiple select</label>
<select multiple class="form-control" name="" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select>



<!-- models -->

<div class="container">
    <h2>Modal Example</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div> -->
          <div class="modal-body">
            <p>{{a}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>