<section class="bg">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12 mt-4">
                <div class="row">
                    <div class="col-sm-6 mt-5 d-flex justify-content-center ">
                        <form class="p-4 shadow-lg mb-5 opacity-100 rounded mrgn-box fadeIn bg1" #i="ngForm">

                            <h4 class="text-dark ">Admin Login</h4>
                            <hr />
                            <div class="">
                                <label for="email" class="form-label lead text-danger">Email address</label>
                                <input #v="ngModel" email class="form-control" name="email" [(ngModel)]="email">
                                <span class="form-text text-danger" *ngIf="v.invalid">plz enter valid email</span>
                                <p class="text-dark form-text">We'll never share your email with anyone else. </p>
                                <label for="Password" class="form-label lead text-danger pt-3">Password</label>
                                <input #ii="ngModel" type="password"  class="form-control" minlength="6" name="password"
                                    [(ngModel)]="password">
                                <span *ngIf="ii.touched && ii.invalid">Min length 6 required</span><br>
                                <button type="button" class="btn btn-outline-success text-info my-3 button" [disabled]="i.invalid"
                                    (click)="adminsignIn(i.value)">Login</button>

                                <!-- <p> <a href="/register" class="text-decoration-none form-text fw-bolder">You need an
                                        account ? <span class="text-danger text-sm fw-bolder"> Register</span></a></p> -->

                            <p>
                                    <a href="" class="text-dark text-decoration-none form-text fw-bolder">Forgot
                                        password ?</a>
                                    </p>
                            </div>
                        </form>
                    </div>


                    <div class="col-sm-6 mt-5 d-flex justify-content-center ">
                        <form class="p-4 shadow-lg p-3 mb-5 opacity-100 rounded mrgn-box fadeIn bg2" #a="ngForm">

                            <h4 class="text-dark">User Login</h4>
                            <hr />

                            <div class="">
                                <label for="email" class="form-label lead text-danger">Email address</label>
                                <input type="email" #vv="ngModel"  email class="form-control" name="email" [(ngModel)]="userEmail">
                                <span class="form-text text-danger" *ngIf="vv.invalid">plz enter valid email</span>
                                <p class="text-dark form-text">We'll never share your email with anyone else. </p>
                                <label for="Password" class="form-label lead text-danger  pt-3">Password</label>
                                <input type="password" #aa="ngModel" minlength="6" class="form-control" name="password" [(ngModel)]="userPassword">
                                <span class="form-text text-danger" *ngIf="aa.invalid && aa.touched">Min length 6 required</span> <br>
                                <button type="button" class="btn btn-outline-success text-info my-3 button" [disabled]="a.invalid" (click)="userLogin()">Login</button>

                                <p>
                                    <a href="" class="text-dark text-decoration-none form-text fw-bolder">Forgot
                                        password ?</a>
                                </p>



                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>