.empty{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}