.bg{
    /* background-color: #7EF3FB; */
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(168, 161, 151);
    
}

.mr{
    margin-right: 10px !important;
}
li{
    list-style: none;
}
.mrgn{
    margin-left: 30px;
}
.txt{
    margin-top: 20px;
    margin-left: 10px;
}
.inpu{
    height: 40px;
    width: 200px;
    border-radius: 7px;
}
.mrgnt{
    margin-top: 100px;
}
.pd{
    padding:4px 8px;
}
.btn1{
    padding: 4px 8px;
    margin-left: 5px;
}
input{
    padding: 4px 8px;
}
.detail{
margin:30px 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    padding: 10px;
}
.vid{
    
    margin-left: 10%;
    width:350px;
     height:300px;
}


/* Animation */
.button {
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
  }
  @keyframes glowing {
    0% {
      background-color: #758670;
      box-shadow: 0 0 5px #727c6e;
    }
    50% {
      background-color: #5b6857;
      box-shadow: 0 0 20px #9da59b;
    }
    100% {
      background-color: #a6b4a2;
      box-shadow: 0 0 5px #898b88;
    }
  }
  .button {
    animation: glowing 13000ms infinite;
  }
/*  */
  .buttons {
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
  }
  @keyframes glowings {
    0% {
      background-color: #db7676;
      box-shadow: 0 0 5px #bb5757;
    }
    50% {
      background-color: #ce6e6e;
      box-shadow: 0 0 20px #ac4545;
    }
    100% {
      background-color: #d35656;
      box-shadow: 0 0 5px #c95858;
    }
  }
  .buttons {
    animation: glowings 13000ms infinite;
  }



  /*  */
  .buttonnav:active {
    background-color: #4f554f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  /* image */
  .container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  /* width: 100%; */
  /* height: auto; */
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #252020; 
  width: 100px;
  height: 100px;
  transition: .5s ease;
  opacity:0;
  color: rgb(27, 20, 20);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}